$primary-color: #fff;
$cursor: pointer;

.main-container-opening {
  background: linear-gradient(
    0deg,
    rgba(228, 27, 64, 1) 0%,
    rgb(250, 89, 89) 100%
  );
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.container-opening {
  background-color: $primary-color;
  position: relative;
  display: flex;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  line-height: 1.5;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
  padding: 25px;
  gap: 30px;
}

.container-text {
  & > p {
    margin-bottom: 20px;
  }
}

.display-desktop {
  display: block;
}

.opening-img {
  max-width: 50vw;
}

@media only screen and (max-width: 600px) {
  .container-opening {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .display-desktop {
    display: none;
  }
}
