$primary-color: #fff;
$cursor: pointer;

.main-container-opening {
  background-color: #eef0f7;
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.container-opening {
  background-color: $primary-color;
  position: relative;
  display: flex;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  line-height: 1.5;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
  padding: 25px;
  gap: 30px;

  &:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to bottom right, #ff9ec4, #ffd07e);
    width: 900px;
    height: 900px;
    border-radius: 50%;
    z-index: -1;
  }
}

.container-text {
  & > p {
    margin-bottom: 20px;
  }
}

.display-desktop {
  display: block;
}

.opening-img {
  max-width: 50vw;
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/

  .container-opening {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .display-desktop {
    display: none;
  }
}
